@import "src/assets/css/vars.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: $blue-dark;
  background-image: url("../../assets/img/auth-page-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 57px;
}

.wrapper2 {
  display: flex;
  gap: 10px;
}

.secondary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 448px;
  padding: 30px 60px 50px;
  background-color: $white;
  border-radius: 8px;
}
