@import "src/assets/css/styles.scss";

.container {
  position: relative;
  min-height: 100%;
  padding: 50px 0;
  overflow: auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $shadow-light;
}

.btn {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 5px 30px;
  padding-bottom: 10px;
  font-size: 20px;
}

.title {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}
