@import "src/assets/css/vars.scss";

.formWrapper {
  width: 100%;
  max-width: 448px;
  padding: 30px 60px 50px;
  background-color: $white;
  border-radius: 8px;
}

.title {
  margin: 0 0 17px;
  color: $title-color;
  font-weight: $font-weight-bold;
  font-size: 24px;
  font-family: $font-family;
  text-transform: uppercase;
}

.text {
  margin: 25px 0 0;
  color: $grey;
  font-weight: $font-weight-regular;
  font-size: 14px;
  font-family: $font-family;
  text-align: center;
}

.link {
  color: inherit;
  font-weight: $font-weight-semibold;
  text-align: center;
  text-decoration: none;
}
