@import "src/assets/css/vars.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-block: 57px;
}

// .wrapper {
//   width: 500px;
//   padding: 30px 60px 50px;
//   background-color: $white;
//   border-radius: 8px;
// }
