.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3563e9;
  background-image: url("../../assets/img/auth-page-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
