@import "src/assets/css/vars.scss";

.orders {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 100%;
  padding: 20px;
  background-color: $white;

  @media screen and (min-width: $screen-size-lg) {
    flex-direction: row;
  }
}

.orderlistArea {
  min-width: 400px;
}

.mapArea {
  position: relative;
  width: 100%;
  margin-left: 0;

  @media screen and (min-width: $screen-size-lg) {
    margin-left: 20px;
  }
}

.mapWrapper {
  position: sticky;
  top: 0;
  height: calc(100vh - 160px);
  overflow: hidden;
  border-radius: 20px;
  box-shadow: $shadow-light;
}
