.page {
  display: flex;
  padding-top: 10px;
  padding-right: 18px;
  padding-left: 47px;
  overflow: hidden;
}

.left {
  width: 35%;
  margin-right: 15px;
}

.right {
  width: 65%;
  height: calc(100vh - 120px);
  border: 5px solid white;
}
