@import "src/assets/css/vars.scss";

.page {
  display: flex;
  height: 100%;
  padding: 10px 18px 10px 47px;
  overflow: hidden;
}

.left {
  width: 35%;
  height: inherit;
  margin-right: 15px;
}

.right {
  width: 65%;
  height: inherit;
  border: 5px solid $white;
  border-radius: 10px;
}

.towTrucks {
  color: $grey;
  font-size: 16px;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
