@import "src/assets/css/vars.scss";

.container {
  position: relative;
  height: 100%;
  padding: 50px 0;
}

.btn {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 5px 30px;
  font-size: 20px;
}

.title {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}

.formWrapper {
  width: 448px;
}
