@import "src/assets/css/vars.scss";

.page {
  display: flex;
  height: 100%;
  padding: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 24px;
}

.trip-info {
  height: 120px;
  margin-bottom: 20px;
  padding: 7px 24px;
  background-color: $white;
  border: 5px solid $white;
  border-radius: 10px;
}

.header {
  margin-bottom: 10px;
  color: $title-color;
  font-weight: $font-weight-bold;
  font-size: 20px;
  text-align: center;
}

.trip-info-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.trip-info-content .item {
  width: 50%;
  margin-bottom: 10px;
  font-size: 18px;
}

.order-details {
  flex-grow: 1;
  padding: 24px 65px 20px 80px;
  overflow: auto;
  background-color: $white;
  border: 5px solid $white;
  border-radius: 10px;
}

.order-details .header {
  margin-bottom: 20px;
  font-size: 24px;
}

.detail {
  margin-bottom: 20px;
  color: $grey;
  font-size: 18px;
}

.detail .value {
  color: $black;
}

.detail svg {
  width: 20px;
  margin-right: 15px;
}

.user-icon {
  color: $title-color;
}

.phone-icon {
  color: $title-color;
}

.time-icon {
  color: $red;
}

.location-icon {
  color: $blue-light;
}

.destination-icon {
  color: $red-light;
}

.car-icon {
  color: $title-color;
}

.comment-header {
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
}

.comment {
  margin-bottom: 30px;
  padding: 22px 25px;
  font-size: 18px;
  background: $grey;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 40%;
}

.button.accept {
  background-color: $green;
}

.right {
  width: 50%;
  height: 100%;
  border: 5px solid $white;
  border-radius: 10px;
}
