:root {
  --general-dark: #1d1d1d;
  --general-light: #ffffff;
  --red: #d51a52;
  --pink: #ee2a64;
  --light-blue: #527efe;
  --blue: #3563e9;
  --light-grey: #d5dce8;
  --grey: #90a3bf;
  --dark-grey: #7c8798;
}
