@font-face {
  font-weight: 400;
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/plusjakartasans-regular.woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/plusjakartasans-semibold.woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/plusjakartasans-bold.woff2");
}

@font-face {
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/plusjakartasans-extrabold.woff2");
}
