/* Works on Firefox */
html {
  scrollbar-color: $scroll-bar-thumb rgba(238 239 242 / 50%);
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 3px;
  background: $scroll-bar;
  border-radius: 5px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background: $scroll-bar-thumb;
  border-radius: 5px;
}
