/* Works on Firefox */
html {
  scrollbar-color: #3563ad rgba(238 239 242 / 50%);
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 3px;
  background: #e6e8eb;
  border-radius: 5px;
  opacity: 0.5;
}

body::-webkit-scrollbar-thumb {
  background: #3563ad;
  border-radius: 5px;
}
