.h2,
.h3,
.h4,
.h5,
.h6,
.text-base,
.text-md,
.text-md-bold,
.text-sm,
.text-xs {
  color: $primary-text-color;
  font-family: $font-family;
  line-height: $line-height-normal;
}

.h2,
.h3,
.h4,
.h5 {
  font-weight: $font-weight-bold;
}

.h2 {
  font-size: 42px;
  text-transform: capitalize;
}

.h3 {
  font-size: 28px;
  line-height: $line-height-lg;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-weight: $font-weight-semibold;
  font-size: 16px;
  line-height: $line-height-xl;
}

.text-base {
  font-weight: $font-weight-regular;
  font-size: 18px;
}

.text-md {
  font-weight: $font-weight-semibold;
  font-size: 16px;
}

.text-md-bold {
  font-weight: $font-weight-extrabold;
  font-size: 16px;
}

.text-sm {
  font-weight: $font-weight-regular;
  font-size: 14px;
}

.text-xs {
  font-weight: $font-weight-regular;
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}
