$grey-light: #d5dce8;
$grey: #90a3bf;
$grey-dark: #7c8798;
$primary-text-color: #1d1d1d;
$secondary-text-color: #ffffff;
$alternate-text-color: $grey;
$alternate-text-color-dark: $grey-dark;
$button-primary-light: #ff437b;
$button-primary: #ee2a64;
$button-primary-dark: #d51a52;
$button-secondary-light: #527efe;
$button-secondary: #507ceb;
$button-secondary-dark: #3563e9;
$button-disabled: $grey;
$font-family: "Plus Jakarta Sans";
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$line-height-normal: normal;
$line-height-lg: 1.3;
$line-height-xl: 1.405;
