$general-dark: #1d1d1d;
$general-light: #ffffff;
$red: #d51a52;
$pink: #ee2a64;
$light-blue: #527efe;
$blue: #3563e9;
$light-grey: #d5dce8;
$grey: #90a3bf;
$dark-grey: #7c8798;
$font-family: "Plus Jakarta Sans";
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$line-height-normal: normal;
$line-height-lg: 1.3;
$line-height-xl: 1.405;
