$black-light: #1a202c;
$black: #1d1d1d;
$black-light-transparent: rgb(0 0 0 / 5%);
$white: #ffffff;
$red-light: #ff437b;
$red: #ee2a64;
$red-dark: #d51a52;
$white-blue: #adc2ff;
$blue-light: #527efe;
$blue: #507ceb;
$blue-dark: #3563e9;
$blue-extra-dark: #000b6a;
$black-blue: #1a202c;
$grey-extra-light: #ebf3ff;
$grey-border: #e7eef6;
$grey-light: #d5dce8;
$grey: #90a3bf;
$grey-dark: #7c8798;
$title-color: #463da8;
$green: #00ca99;
$background-color-grey: #f6f7f9;
$body-background: #f6f7f9;
$header-background: #000955;
$scroll-bar: #e6e8eb;
$scroll-bar-thumb: #3563ad;
$shadow-light: 0 4px 8px -2px rgb(0 85 255 / 16%);
$shadow: 0 2px 4px -2px rgb(0 44 132 / 6%);
$font-family: "Plus Jakarta Sans", sans-serif;
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$line-height-normal: normal;
$line-height-lg: 1.3;
$line-height-xl: 1.405;
$screen-size-sm: 320px;
$screen-size-md: 480px;
$screen-size-lg: 768px;
$screen-size-xl: 1024px;
$screen-size-xxl: 1440px;
